@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.form_wrapper {
  display: flex;
  border-radius: 15px;
  background: #fff;
  width: 350px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 1;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-top: 10px solid #6600ff;
  -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
  -moz-box-shadow: 0 0 20px rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
}
.form_wrapper h2 {
  font-size: 2em;
  line-height: 2em;
  color: rgb(153, 0, 255);
  font-weight: 800;
  border-bottom: 3px solid rebeccapurple;
  margin: 0;
}
@media (max-width:370px){
  .form_wrapper h2 {
    font-size: 1.5em;
    color: rgb(153, 0, 255);
  }
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 10px;
  box-sizing: border-box;
}
.form_wrapper .input_field {
  position: relative;
  color: rebeccapurple;
  margin-bottom: 15px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 2px solid #cccccc;
  text-align: center;
  width: 30px;
}
.form_wrapper .input_field > span > i {
  padding-top: 12.5px;
}

.form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=number] {
  width: 100%;
  border-radius: 8px;
  padding: 8px 10px 9px 35px;
  height: 40px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=number]:hover {
  background: #fafafa;
}
.form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=number]:focus {
  -webkit-box-shadow: 0 0 8px 4px rgb(153, 0, 255);
  -moz-box-shadow: 0 0 8px 4px rgb(153, 0, 255);
  box-shadow: 0 0 8px 4px rgb(153, 0, 255);
  border: 2px solid #9000ff;
}
.form_wrapper button {
  background: #6600ff;
  height: 35px;
  box-shadow: 0 0 8px 4px rgb(153, 0, 255);
  line-height: 30px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.loading-container1{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}
.loading-container1.active {
  display: flex;
}
.loading-container1 p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 15px;
  letter-spacing: 0.80px;
  text-align: center;
}
.loading-container1 img{
  margin: 0 auto;
}
.SuccessPage{
  display: none;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.SuccessPage h1{
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.form_wrapper.None{
  display: none;
}
.SuccessPage.Success{
  display: flex;
}
.GoBack{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
}
.GoBack a{
  border-bottom: 2px solid white;
}
.loading-container2{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}
.loading-container2.active {
  display: flex;
}
.loading-container2 p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 15px;
  letter-spacing: 0.80px;
  text-align: center;
}
.loading-container2 img{
  margin: 0 auto;
}
.reEnter{
  display: none;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.reEnter h1{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.reEnter.Success{
  display: flex;
}