@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  border-left-width: 1px; 
  border-color: white;
}
/* Icon */
.tab .label .icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform-origin: center center;
}
/* Open Multiple Icon Formatting - Open */
.tab input[type="checkbox"]:checked + .label .icon {
  transform: rotate(360deg);
}

/* List Transition */
ul a {
  transition: color 0.5s ease;
}
.hover-effect{
  color: white;
  transition: 0.3s;
}
.hover-effect:hover{
  color: cyan;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
.page-event {
  padding-bottom: 40px;
  font-family: 'Quicksand', sans-serif;
}
.cover {
  height: 360px;
}
.heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 235px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  transition: font-size 0.5s;
}
.sec-2 img{
  border-radius: 30px;
}
.heading::first-letter {
  color: #14d6c0;
}
.upcoming-sec {
  padding: 3vh 0;
  border-bottom: 5px solid #ccc;
  border-radius: 20px;
}
.heading2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.upcoming-event-list {
  color: #ccc;
}
.event-block {
  padding: 3vh 3vh;
}
.even{
  border-bottom: 8px solid #ccc;
  border-right: 8px solid #ccc;
  border-radius: 30px;
}
.special-text{
  font-family: 'Libre Baskerville', serif;
}
.odd{
  border-bottom: 8px solid #ccc;
  border-left: 8px solid #ccc;
  border-radius: 30px;
}
.upcoming-event-list{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Hello{
  margin-top: 5rem;
}
.title{
  text-align: center;
}
.Description{
  text-align: center;
}
.group-of-btn{
  text-align: center;
}
.group-of-btn:hover{
  color: rgb(255, 0, 212);
}
.col-lg-5 table{
  margin: 0 auto;
}
.col-lg-2 table{
  margin: 0 auto;
}
.date{
  text-align: center;
}
.sec-1,.sec-2 {
  padding-bottom: 3vh;
}
.month {
  text-transform: uppercase;
  color: #14d6c0;
  filter: contrast(2);
  font-size: 30px;
  font-weight: 600;
}
.month-date-devider {
  width: 100%;
  margin: 0.5vh 0;
  background-color: purple;
  height: 4px;
}
.date {
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
}
.page-event .upcoming-event-list .event-block .sec-2 img {
  width: 100%;
}
.title {
  font-size: 35px;
  padding-bottom: 1.5vh;
}
.venue{
  padding-bottom: 2vh;
}
.venue table td {
  vertical-align: top;
}
.venue table td i {
  color: #db2d8e;
  font-size: 25px;
  padding-left: 3px;
  padding-right: 10px;
}
.time {
  padding-bottom: 3vh;
}
.time table td {
  vertical-align: top;
}
.time table td i {
  color: #db2d8e;
  font-size: 25px;
  padding-left: 3px;
  padding-right: 10px;
}
.Description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.group-of-btn {
  padding-top: 3vh;
}
.book-ticket {
  background-color: #1ee1ca !important; 
  color: #7d7474;
  margin-bottom: 10px;
}
.book-ticket:hover{
  color: blue;
}
footer {
  background-color: #1100ffaf;
  padding: 10px;
  padding-bottom: 2.5px;
  text-align: center;
  color: #ffffff; 
}
.footer-content {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}
.SDS{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 1rem;
}
.text{
  font-size: 25px;
  font-weight: 800;
}
@media (max-width: 991px) {
  .heading {
    font-size: 180px;
    padding-top: 7vh;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 140px;
    padding-top: 11vh;
  }
}
@media (max-width: 575px) {
  .page-event .cover {
    height: 214px;
  }
  .heading {
    font-size: 70px;
  }
}
@media (max-width: 420px) {
  .SDS img{
    width: 70px;
    height: 30px;
  }
  .text{
    font-size: 17px;
    font-weight: 800;
  }
}
@media (max-width: 390px) {
  .heading2{
    font-size: 30px;
  }
}
@media (max-width: 310px) {
  .heading {
    font-size: 60px;
  }
}
@media (max-width: 270px) {
  .heading {
    font-size: 50px;
  }
}
.footer-css{
  all: unset;
}
li a{
  text-decoration: none;
  margin: 0 auto;
}
