@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
.tab input:checked + label {
  border-left-width: 1px; 
  border-color: white;
}
.tab .label .icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform-origin: center center;
}
.tab input[type="checkbox"]:checked + .label .icon {
  transform: rotate(90deg);
}
ul a {
  transition: color 0.5s ease;
}
.hover-effect{
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.hover-effect:hover{
  color: cyan;
}
.margin-class{
  margin-left: 3vh;
  margin-right: 3vh;
}
.wrapper .text{
  height: 14rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-decoration: none;
    filter: contrast(1.05);
}
:root {
  --text-color2: #340072;
  --bg-color: #340072;
  --text-color: #ededed;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#about{
  background-size: cover;
  background-repeat: no-repeat;
}
.another-wrapper{
  background-size: cover;
  background-repeat: no-repeat;
}
html {
  box-sizing: border-box;
}
body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
/* Hero Section */
.event-image img {
  width: 40vw;
}
#about {
  margin: 0 auto;
}
.hero {
  margin: 0 8vw;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header .countdown {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 15px 0;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(14, 2, 125) 0%, rgb(38, 190, 255) 90%);
}
#header .countdown div h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
#header .countdown div h4 {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 575px) {
  #header .countdown div {
    width: 120px;
    height: 120px;
    padding: 10px 0;
    margin: 10px 6px;
  }
  #header .countdown div h3 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 18px;
    font-weight: 500;
  }
}
@media (max-width: 435px) {
  #header .countdown div {
    width: 100px;
    height: 100px;
    margin: 10px 4px;
  }
  .countdown{
    margin: 15px 2px !important;
  }
  #header .countdown div h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 435px) {
  .countdown{
    margin: 15px 2px !important;
  }
  #header .countdown div h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 10px;
  }
}
.about-event {
  margin-top: 1rem;
  padding-right: 2rem;
}
.event-heading {
  margin-bottom: 2rem;
  font-family: "Krona One", sans-serif;
  font-size: 3.5rem;
  background-image: linear-gradient(90deg, #155ce8, #17ebdc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.event-description {
  margin-bottom: 3rem;
  font-size: 18px;
}
.email-register {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 20rem;
  background-color: white;
  border-radius: 20px;
  font-weight: 900;
  -webkit-box-shadow: 0 0 10px rgb(255, 255, 255);
  -moz-box-shadow: 0 0 10px rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  margin-bottom: 25px;
}
.email-register a{
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(45deg, #f700ff, #1500ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width:400px){
  .email-register{
    margin-left: 15px;
    margin-right: 15px;
  }
}
.event-image {
  display: flex;
  justify-content: flex-end;
  min-width: 40vw;
}
/* CataLogue Section */

.countdown-text {
  margin: 2vh 0;
  word-spacing: 2px;
  font-size: 1.3rem;
}
.countdown {
  display: flex;
  margin: 0 1rem;
  justify-content: space-evenly;
}
.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#320c9c, #1f0124 70%);
  border-radius: 0.5rem;
  text-align: center;
  width: 3.8rem;
  height: 4rem;
}
.countdown-number {
  font-size: 1.8rem;
  font-weight: 900;
}
.countdown-description {
  font-size: 0.6rem;
}
/* Break Point for Catalogue and Hero section */
@media (max-width:1250px){
  .event-heading{
    font-size: 3rem;
  }
  .event-description {
    font-size: 13px;
  }
  .date-time{
    font-size: 1.8rem;
  }
}
@media (max-width:1151px){
.email-register{
    height: 3rem;
  }
.date-time{
    font-size: 1.75rem;
    margin-top: 0;
  }
}
@media (max-width:1060px){
  .event-heading{
    font-size: 2.5rem;
  }
  .date-time{
    font-size: 1.5rem;
  }
}
@media (max-width:996px){
  .about-event{
    padding-right: 0;
  }
  .hero {
    margin: 0 5vw;
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
  .event-heading{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .event-description{
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 1.5rem;
  }
  .event-image{
    display: block;
    text-align: center;
  }
  .event-image img {
    width: 60vw;
  }
}
@media (max-width:850px){
  .event-heading{
    max-width: 100%;
  }
  .email-register-image img{
    width: 20px;
  }
}
@media (max-width:650px){
  .hero {
    margin: 0 1rem;
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
}
@media (max-width:570px){
  body{
    margin: 0 auto;
  }
  .about-event{
    padding: 0;
  }
  .event-heading{
    max-width: 100%;
    font-size: 2.5rem;
  }
  .event-description{
    max-width: 100%;
  }
  .event-image img {
    width: 80vw;
  }
}
@media (max-width:425px){
  .event-image img {
    width: 80vw;
  }
}
.navbar-css{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-space{
	all: unset;
}
/* Meet our Sponsors */
#sponsors {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 0 8vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sponsor {
  margin: 0 auto;
  padding: 10px;
}
.sponsor img{
  margin: 0 auto;
  max-width: 12rem;
  max-height: 12rem;
  object-fit: cover;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.image-speaker{
  transition: 0.5s;
}
#unstop img{
  max-height: 150px;
  max-width: 400px;
}
#unstop img{
  transform: scale(0.75);
}
#kareem img{
  max-height: 150px;
  max-width: 400px;
}
#kareem img{
  transform: scale(0.75);
}
.sponsor img{
  height: 1000px;
  width: 1000px;
}
@media (max-width:488px){
  #unstop img{
  max-height: 100px;
  max-width: 300px;
}
#unstop img{
  transform: scale(0.8);
}
#kareem img{
  max-height: 100px;
  max-width: 300px;
}
#kareem img{
  transform: scale(0.8);
}
}
@media (max-width:388px){
  #unstop img{
  max-height: 80px;
  max-width: 200px;
}
#unstop img{
  transform: scale(0.9);
}
#kareem img{
  max-height: 80px;
  max-width: 200px;
}
#kareem img{
  transform: scale(0.9);
}
}
/* BreakPoints */
@media (max-width:780px){
  #sponsors{
    margin: 0 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}
@media (max-width:535px){
  #sponsors{
    margin: 0 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width:300px){
  #sponsors{
    margin: 0 0.5rem;
  }
}
/* Meet our Speakers */
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12rem;
}
@media (min-width:735px){
  .hello-there{
    width: 85%;
  }
}
.meet-speaker{
    text-align: center;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 3rem;
    letter-spacing: -3px;
    font-family: "Krona One";
    background-image: linear-gradient(90deg, #0055ff, #04f8e8);
    background-clip: content-box;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.revealing-soon1{
    text-align: center;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2rem;
    letter-spacing: -1px;
    font-family: "Krona One";
    color: white;
}
.revealing-soon2{
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: -1px;
    font-family: "Krona One";
    color: white;
}
.underline{
    height: 4px;
    width: 45rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-image: linear-gradient(90deg, #0055ff, #04f8e8);
}
.alumini1{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 3rem;
}
.alm1{
    width: 35rem;
    height: 100%;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.descrip1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.image1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.real-image1{
    margin-bottom: 10px;
}
.alumini2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 35rem;
}
.alm2{
    width: 35rem;
    height: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.descrip2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.text2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1 rem;
    color: #fff;
    font-family: Montserrat;
}
.image2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.real-image2{
    margin-bottom: 10px;
}
.name2{
    background: linear-gradient(90deg, #340072, #cf69ff);
    text-align: center;
    border-radius: 55px;
    width: fit-content;
    padding: 5px 50px;
    letter-spacing: 1.5px;
    font-size: 1.05rem;
    color: white;
    font-family: "Zen Dots";
}
.photo{
    height: 220px;
    width: 220px;
    filter: none;
}
.about-desc {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    width: 80%;
    background-color: #FAEAF3;
    border-radius: 3rem 3rem 3rem 3rem;
}

.feautures_containers{
    margin: 35px 0;
}
.image-about-top {
    border-radius: 2rem;
    width: 80%;
    object-fit: contain;
}
/* Break Points For Speaker and Footer*/
@media (max-width:890px){
  .links{
    gap: 2rem;
  }
}
@media (max-width:750px){
    .underline{
        width: 35rem;
    }
}
@media (max-width:660px){
    .alm1{
        margin-right: 1.5rem;
    }
    .alm2{
        margin-left: 1.5rem;
    }
    .row1{
      flex-direction: column;
    }
    .single-cta1{
      text-align: center;
    }
    .single-cta2{
      text-align: center;
    }
}
@media (max-width:612px){
    .text{
        height: 7rem;
    }
    .revealing-soon1{
      margin-top: 0;
      font-size: 1.25rem;
    }
    .revealing-soon2{
      font-size: 1.25rem;
    }
    .alumini1{
        justify-content: center;
        margin-top: 0rem;
    }
    .alumini2{
        justify-content: center;
    }
    .alm1{
        margin-right: 0rem;
        flex-direction: column-reverse;
    }
    .alm2{
        margin-left: 0rem;
        flex-direction: column-reverse;
    }
    .meet-speaker{
        font-size: 2rem;
    }
    .underline{
        width: 25rem;
    }
    .photo{
        height: 150px;
        width: 150px;
    }
}
@media (max-width:415px){
    .text{
        height: 5rem;
    }
    .revealing-soon1{
      margin-top: 0;
      font-size: 1rem;
    }
    .revealing-soon2{
      font-size: 1rem;
    }
    .meet-speaker{
        font-size: 1.75rem;
    }
    .underline{
        width: 17rem;
    }
    .photo{
        height: 135px;
        width: 135px;
    }
    .text2{
        font-size: 0.85rem;
    }
}
@media (max-width:300px){
    .name2{
        font-size: 0.80rem;
    }
    .text{
        height: 4rem;
    }
    .meet-speaker{
        font-size: 1.50rem;
    }
    .underline{
        width: 13rem;
    }
}
@media (max-width: 330px) {
  .event-heading {
    font-size: 1.8rem;
  }
  .meet-speaker {
    font-size: 1.5rem;
  }
}
@media (max-width: 290px) {
    .text{
      height:4rem;
    }
    .revealing-soon1{
      margin-top: 0;
      font-size: 0.75rem;
    }
    .revealing-soon2{
      font-size: 0.75rem;
    }
    .meet-speaker{
        font-size: 1.25rem;
    }
    .underline{
        width: 12rem;
    }
}
.custom-border{
    height: 100px;
    width: 5px;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: white;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
}
@media (min-width:1285px){
  .custom-border{
    height: 150px;
  }
}
@media (max-width:850px){
  .custom-border{
    height: 80px;
  }
}
@media (max-width:380px){
  .email-register-text{
    width: 7rem;
  }
}