@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  border-left-width: 1px; 
  border-color: white;
}
/* Icon */
.tab .label .icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform-origin: center center;
}
/* Open Multiple Icon Formatting - Open */
.tab input[type="checkbox"]:checked + .label .icon {
  transform: rotate(360deg);
}

/* List Transition */
ul a {
  transition: color 0.5s ease;
}
.hover-effect{
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.hover-effect:hover{
  color: cyan;
}
.margin-class{
  margin-left: 3vh;
  margin-right: 3vh;
}
/* General CSS*/
.another-wrapper .text{
  height: 8rem;
}
.wrapper .text{
  height: 14rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-decoration: none;
    filter: contrast(1.05);
}
:root {
  --text-color2: #340072;
  --bg-color: #340072;
  --text-color: #ededed;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#about{
  background-size: cover;
  background-repeat: no-repeat;
}
.another-wrapper{
  background-size: cover;
  background-repeat: no-repeat;
}
html {
  box-sizing: border-box;
}
body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
/* Nav Bar */


/* Hero Section */
.event-image img {
  width: 40vw;
}
#about {
  margin: 0 auto;
}
.hero {
  margin: 0 8vw;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header .countdown {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 15px 0;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(14, 2, 125) 0%, rgb(38, 190, 255) 90%);
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 120px;
    height: 120px;
    padding: 10px 0;
    margin: 10px 6px;
  }

  #header .countdown div h3 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 435px) {
  #header .countdown div {
    width: 100px;
    height: 100px;
    margin: 10px 4px;
  }

  .countdown{
    margin: 15px 2px !important;
  }
  #header .countdown div h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 435px) {
  .countdown{
    margin: 15px 2px !important;
  }
  #header .countdown div h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 10px;
  }
}




.about-event {
  margin-top: 1rem;
  padding-right: 2rem;
}
.event-heading {
  margin-bottom: 2rem;
  font-family: "Krona One", sans-serif;
  font-size: 3.5rem;
  background-image: linear-gradient(90deg, #155ce8, #17ebdc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.event-description {
  margin-bottom: 3rem;
  font-size: 18px;
}
.email-register {
  display: flex;
  max-width: 90%;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  height: 3.5rem;
  background-color: #fff;
  color: var(--text-color2);
  font-weight: 600;
  border-radius: 40px;
}
.email-register-text-image {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.email-register-image {
  padding-top: calc(1rem / 5);
}
.email-register-image img {
  display: block;
  text-align: center;
}
.email-register-button {
  height: 4.5vh;
  padding-right: 0.2rem;
}
.email-register-button button {
  height: inherit;
  width: 10vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 30px;
  border: white;
  background: linear-gradient(to right, #340072, #cf69ff);
}
.event-image {
  display: flex;
  justify-content: flex-end;
  min-width: 40vw;
}

/* CataLogue Section */
.event-catalogue-date-time {
  border: 2px solid white;
  padding: 4vh 3vw;
  margin: 0 8vw;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #02000d, rgba(15, 0, 96, 0.5));
  border-radius: 20px;
}
.event-catalogue-date-time > div {
  width: 50%;
  margin: 0 1vw;
}
.event-date-time,
.catalogue {
  text-align: center;
}
.catalogue-heading {
  margin: 0.5rem 1rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.catalogue-description {
  margin: 1rem 2.2rem;
  font-size: 15px;
  text-align: left;
}
.catalogue-button button {
  background: linear-gradient(to right, #340072, #cf69ff);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  border-radius: 0.5rem;
  border: none;
  color: white;
  margin: 3vh auto;
  padding: 0.5rem 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.input-place{
  all: unset;
  margin-bottom: 10px;
}
.date-time {
  font-family: "Krona One", sans-serif;
  font-size: 2rem;
  margin-top: 0.5rem;
  padding-bottom: 1.5rem;
  word-spacing: 5px;
  background-image: linear-gradient(90deg, #155ce8, #17ebdc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.line {
  margin: 0 auto;
  width: 80%;
  height: 2px;
  border-top: 1px solid white;
}
.countdown-text {
  margin: 2vh 0;
  word-spacing: 2px;
  font-size: 1.3rem;
}
.countdown {
  display: flex;
  margin: 0 1rem;
  justify-content: space-evenly;
}
.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#320c9c, #1f0124 70%);
  border-radius: 0.5rem;
  text-align: center;
  width: 3.8rem;
  height: 4rem;
}
.countdown-number {
  font-size: 1.8rem;
  font-weight: 900;
}
.countdown-description {
  font-size: 0.6rem;
}
/* Break Point for Catalogue and Hero section */
@media (min-width:1251px) and (max-width:1900px){
  .email-register-button{
    height: 6vh;
  }
}
@media (min-width:1121px) and (max-width:1250px){
  .email-register-button{
    height: 5.7vh;
  }
}
@media (max-width:1250px){
  .event-heading{
    font-size: 3rem;
  }
  .event-description {
    font-size: 13px;
  }
  .email-register-text{
    font-size: 14px;
  }
  .email-register{
    padding-left: 1.5rem;
  }
  .email-register-button{
    padding-right: 0.3rem;
  }
  .catalogue-heading{
    font-size: 23px;
  }
  .date-time{
    font-size: 1.8rem;
  }
}
@media (max-width:1151px){
.email-register{
    height: 3rem;
  }
.email-register-button button{
    width: 9.5rem;
    font-size: 13px;
  }
.email-register-text-image{
    column-gap: 0.5rem;
  }
.catalogue-heading{
    font-size: 21px;
  }
.catalogue-description{
   font-size: 14px;
  }
.date-time{
    font-size: 1.75rem;
    margin-top: 0;
  }
.email-register-button button{
    width: 9rem;
    font-size: 13px;
  }
}
@media (max-width:1060px){
  .event-heading{
    font-size: 2.5rem;
  }
  .catalogue-heading{
    font-size: 19px;
  }
  .catalogue-description{
    font-size: 12px;
  }
  .date-time{
    font-size: 1.5rem;
  }
  .email-register-button button{
    width: 8rem;
    font-size: 13px;
  }
}
@media (max-width:996px){
  .about-event{
    padding-right: 0;
  }
  .hero {
    margin: 0 5vw;
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
  .event-heading{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .event-description{
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 1.5rem;
  }
  .email-register{
    margin: 0 auto;
    max-width: 70%;
  }
  .event-image{
    display: block;
    text-align: center;
  }
  .event-image img {
    width: 60vw;
  }
  .email-register{
    justify-content: space-between;
  }
  .email-register-button button{
    font-size: 12px;
    width: 7rem;
  }
}
@media (max-width:850px){
  .event-heading{
    max-width: 100%;
  }
  .event-catalogue-date-time {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
  }
  .event-catalogue-date-time > div {
    width: 90%;
    margin: 0 1vw;
  }
  .email-register-text{
    font-size: 12px;
  }
  .email-register-text-image{
    column-gap: 6px;
  }
  .email-register-image img{
    width: 20px;
  }
  .email-register-button button{
    font-size: 9.5px;
    padding: 5px ;
  }
  .email-register-button button{
    font-size: 12px;
    width: 10rem;
    padding: 0;
  }
  .email-register{
    padding-left: 12px;
  }
  .email-register-text-image{
    column-gap: 6px;
  }
  .email-register-text{
    font-size: 12px;
  }
  .email-register-button button{
    width: 8rem;
    font-size: 13px;
  }
}
@media (max-width:650px){
  .event-catalogue-date-time {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
  }
  .event-catalogue-date-time > div {
    width: 100%;
    margin: 0 1.5rem;
  }
  .email-register{
    margin: 0 auto;
    padding-left: 12px;
    width: 80vw;
    justify-content: space-between;
  }
  .email-register-button button{
    font-size: 12px;
    width: 10rem;
    padding: 0;
  }
  .email-register{
    padding-left: 12px;
  }
  .email-register-text-image{
    column-gap: 6px;
  }
  .email-register-text{
    font-size: 12px;
  }
  .hero {
    margin: 0 1rem;
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
}
@media (max-width:570px){
  body{
    margin: 0 auto;
  }
  .about-event{
    padding: 0;
  }
  .event-heading{
    max-width: 100%;
    font-size: 2.5rem;
  }
  .event-description{
    max-width: 100%;
  }
  .email-register{
    max-width: 100%;
  }
  .event-image img {
    width: 80vw;
  }
  .email-register-button button{
    font-size: 12px;
    width: 10rem;
    padding: 0;
  }
  .email-register{
    padding-left: 12px;
  }
  .email-register-text-image{
    column-gap: 6px;
  }
  .email-register-text{
    font-size: 12px;
  }
}
@media (max-width:425px){
  .email-register-button button{
    font-size: 10px;
    width: 6rem;
    padding: 0;
  }
  .email-register{
    padding-left: 8px;
  }
  .email-register-text-image{
    column-gap: 5px;
  }
  .email-register-text{
    font-size: 12px;
  }
  .event-image img {
    width: 80vw;
  }
}
.navbar-css{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.register-space{
	all: unset;
}
.email-register-text{
  width: 10rem;
}
/* Meet our Sponsors */
#sponsors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0 8vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sponsor {
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
}
.sponsor img{
  text-align: center;
  max-width: 12rem;
  max-height: 12rem;
  object-fit: cover;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
.sponsor img:hover{
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 0px 7px 7px rgb(4, 225, 255);
  -moz-box-shadow: 0px 0px 7px 7px rgb(4, 255, 255);
  box-shadow: 0px 0px 7px 7px rgb(4, 255, 255);
}
.image-speaker{
  transition: 0.5s;
}
.image-speaker:hover{
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 7px 7px rgb(187, 0, 255);
  -moz-box-shadow: 0px 0px 7px 7px rgb(187, 0, 255);
  box-shadow: 0px 0px 7px 7px rgb(187, 0, 255);
}
/* BreakPoints */
@media (max-width:780px){
  #sponsors{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}
@media (max-width:535px){
  #sponsors{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width:300px){
  #sponsors{
    margin: 0 0.5rem;
  }
}
/* Meet our Speakers */
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12rem;
}
.meet-speaker{
    text-align: center;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 3rem;
    letter-spacing: -3px;
    font-family: "Krona One";
    background-image: linear-gradient(90deg, #0055ff, #04f8e8);
    background-clip: content-box;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.underline{
    height: 4px;
    width: 45rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-image: linear-gradient(90deg, #0055ff, #04f8e8);
}
.alumini1{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 35rem;
    margin-top: 3rem;
}
.alm1{
    width: 35rem;
    height: 100%;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.descrip1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.image1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.real-image1{
    margin-bottom: 10px;
}
.alumini2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 35rem;
}
.alm2{
    width: 35rem;
    height: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.descrip2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.text2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1 rem;
    color: #fff;
    font-family: Montserrat;
}
.image2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.real-image2{
    margin-bottom: 10px;
}
.name2{
    background: linear-gradient(90deg, #340072, #cf69ff);
    text-align: center;
    border-radius: 55px;
    width: fit-content;
    padding: 5px 50px;
    letter-spacing: 1.5px;
    font-size: 1.05rem;
    color: white;
    font-family: "Zen Dots";
}
.photo{
    height: 220px;
    width: 220px;
    filter: none;
}

.about-desc {
display: flex;
justify-content: center;
flex-direction: row-reverse;
align-items: center;
/* border: 2px solid black; */
padding: 1rem;
/* height: 50vh; */
width: 80%;
background-color: #FAEAF3;
border-radius: 3rem 3rem 3rem 3rem;
}

.feautures_containers{
margin: 35px 0;
}

.image-about-top {
    border-radius: 2rem;
    width: 80%;
    object-fit: contain;
}


/* Footer */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
}

.footer{
  border-top: 3.5px gray solid;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Break Points For Speaker and Footer*/
@media (max-width:890px){
  .links{
    gap: 2rem;
  }
}
@media (max-width:750px){
    .underline{
        width: 35rem;
    }
}
@media (max-width:660px){
    .alm1{
        margin-right: 1.5rem;
    }
    .alm2{
        margin-left: 1.5rem;
    }
    .row1{
      flex-direction: column;
    }
    .single-cta1{
      text-align: center;
    }
    .single-cta2{
      text-align: center;
    }
    .footer-widget{
      flex-direction: column;
      gap: 0.5rem;
    }
    .footer-widget3{
      margin-top: 2rem;
    }
    .links{
      flex-direction: column;
      gap: 0.5rem;
    }
}
@media (max-width:612px){
    .text{
        height: 7rem;
    }
    .alumini1{
        justify-content: center;
        margin-top: 0rem;
    }
    .alumini2{
        justify-content: center;
    }
    .alm1{
        margin-right: 0rem;
        flex-direction: column-reverse;
    }
    .alm2{
        margin-left: 0rem;
        flex-direction: column-reverse;
    }
    .meet-speaker{
        font-size: 2rem;
    }
    .underline{
        width: 25rem;
    }
    .photo{
        height: 150px;
        width: 150px;
    }
}
@media (max-width:415px){
    .text{
        height: 5rem;
    }
    .meet-speaker{
        font-size: 1.75rem;
    }
    .underline{
        width: 17rem;
    }
    .photo{
        height: 135px;
        width: 135px;
    }
    .text2{
        font-size: 0.85rem;
    }
}
@media (max-width:300px){
    .name2{
        font-size: 0.80rem;
    }
    .text{
        height: 4rem;
    }
    .meet-speaker{
        font-size: 1.50rem;
    }
    .underline{
        width: 13rem;
    }
}